/***********
A. DEFAULT
B. USE EVERYWHERE
C. DOTS
************/

/*A. DEFAULT*/

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/*B. USE EVERYWHERE*/

.dice1 {
  border: 1px solid black;
  height: 100px;
  width: 100px;
  display: none;
}

.dice2 {
  border: 1px solid black;
  height: 100px;
  width: 100px;
  display: none;
}

.dot {
  display: block;
  margin: 0 auto;
  height: 10px;
  width: 10px;
  border: 1px solid black;
  border-radius: 50px;
  position: relative;
  top: 45px;
  background-color: #000;
}

/*C. DOTS*/

/*Dot 2*/

.d2 {
  display: inline-block;
  margin-left:25px;
}

/*Dot3*/

.d3 {
  position: relative;
  top: 35px;
}

#d3-1 {
  margin-left: 25px;
}

#d3-3 {
  margin-right: 25px;
}

/*Dot4*/

.d4 {
  position: relative;
  top: 35px;
  display: inline-block;
  margin-left: 25px;
}

/*Dot5*/

.d5-1, .d5-2 {
  display: inline-block;
  margin-left: 25px;
}

.d5 {
  position: relative;
  top: 25px;
}

/*Dot6*/

.d6 {
  position: relative;
  top: 25px;
  display: inline-block;
  margin-left: 25px;
}
