/***********
A. DEFAULT
B. USE EVERYWHERE
C. CENTERING
D. DOTS
E. ROLL BUTTON
F. TITLE
G. ERROR MESSAGE
************/

/*A. DEFAULT*/

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-size: 10px;
  font-family: 'Oswald', sans-serif;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

/*C. CENTERING*/
#header{
  flex: 1 0 0;
  text-align: center;
  font-size: 3em;
}

#main {
  order: 3;
}


/*B. USE EVERYWHERE*/

.dice1 {
  border: 1px solid black;
  height: 100px;
  width: 100px;
  display: none;
}

.dice2 {
  border: 1px solid black;
  height: 100px;
  width: 100px;
  display: none;
}

.dot {
  display: block;
  margin: 0 auto;
  height: 10px;
  width: 10px;
  border: 1px solid black;
  border-radius: 50px;
  position: relative;
  top: 45px;
  background-color: #000;
}

/*D. DOTS*/

/*Dot 2*/

.d2 {
  display: inline-block;
  margin-left:25px;
}

/*Dot3*/

.d3 {
  position: relative;
  top: 35px;
}

#d3-1 {
  margin-left: 25px;
}

#d3-3 {
  margin-right: 25px;
}

/*Dot4*/

.d4 {
  position: relative;
  top: 35px;
  display: inline-block;
  margin-left: 25px;
}

/*Dot5*/

.d5-1, .d5-2 {
  display: inline-block;
  margin-left: 25px;
}

.d5 {
  position: relative;
  top: 25px;
}

/*Dot6*/

.d6 {
  position: relative;
  top: 25px;
  display: inline-block;
  margin-left: 25px;
}

/*E. ROLL BUTTON*/
#button {
  border: 1px solid black;
  padding: 1rem;
  margin-bottom: 1rem;
  width: 10em;
  text-align: center;
  background-color: lavender;
  font-size: 2em;
}

/*F. TITLE*/
#title {
  font-family: 'Raleway', sans-serif;
}

/*G. ERROR MESSAGE*/
#errorMssg{
  text-align: center;
  font-size: 2em;
}
